/*common start*/
body{
    font-family: ;
    font-size: 16px;
    font-weight: 400;
    color: #102757;
}

/*common end*/

/* color:
 navy blue = #102757
 sky blue = #008aff
 red = #f15767

 Background color:
 pink = #fdebed
 green = #ebf9f4
 yellow = #fff7e8 
 */